<td class="px-6 py-4 transition duration-300 font-medium bg-slate-400"><%= subject.name %></td>
<td class="px-6 py-4 transition duration-300 text-center bg-slate-400"><%= subject.priority %> </td>
<td class="px-6 py-4 transition duration-300 text-center space-x-2 bg-slate-400">
    <%= link_to "Editar", edit_subject_path(subject),
        class: "text-blue-600 hover:underline font-medium", data: { turbo_frame: 'modal'} %>
    <%= link_to "Eliminar", subject_path(subject),
        data: { turbo_method: :delete, turbo_confirm: "¿Seguro?" },
        class: "text-red-600 hover:underline font-medium" %>
</td>
<div class="hidden" data-controller="row" data-row-row-value="subject_<%= subject.id %>"></div>